//landscape
.landscape {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .sky {
    width: 200vw;
    height: 200vw;
    background: repeating-linear-gradient(
      to right,
      $dark-blue,
      $dark-blue 10px,
      $light-blue 10px,
      $light-blue 20px
    );
    @include centerMe;
    transform: translate(-50%, -50%) rotate(47deg);
  }
  .ground {
    position: absolute;
    bottom: 0;
    border-top: 10px solid $dark-green;
    width: 100%;
    height: 10vh;
    background: $light-green;
  }
  .anvil {
    width: 100px; 
    height: 100px; 
    @include border-radius(50px); 
    position: absolute; 
    left: 0;
    &.anvil1 {
      top: 30vh;
      &.animate {
        animation-duration: 12s;
      }
    }
    &.anvil2 {
      top: 0;
      &.animate {
        animation-duration: 8s;
      }
    }
    &.anvil3 {
      top: 50vh;
      &.animate {
        animation-duration: 7s;
      }
    }
    &.animate-left {
      animation-name: anvil-left;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; 
      animation-direction: normal;
      animation-delay: 0;
      animation-play-state: running;
      animation-fill-mode: forwards;
    }
  }

  @keyframes anvil-left {
    0% {
      left: -100px;
      background-color: blue; 
    }
    25% {
      left: 25vw;
      background-color: purple;
    }
    50% {    
      left: 50vw;
      background-color: pink;
    }
    75% {
      left: 75vw;
      background-color: red;
    }
    100% {
      left: 100vw;
      background-color: orange;
    }
  }
  @keyframes anvil-reverse {
    0% {
      right: -100px;
      background-color: blue; 
    }
    25% {
      right: 25vw;
      background-color: purple;
    }
    50% {    
      right: 50vw;
      background-color: pink;
    }
    75% {
      right: 75vw;
      background-color: red;
    }
    100% {
      right: 100vw;
      background-color: orange;
    }
  }
}



