//landscape
.landscape {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .sky {
    width: 200vw;
    height: 200vw;
    background: repeating-linear-gradient(
      to right,
      $dark-blue,
      $dark-blue 10px,
      $light-blue 10px,
      $light-blue 20px
    );
    @include centerMe;
    transform: translate(-50%, -50%) rotate(47deg);
  }
  .ground {
    position: absolute;
    bottom: 0;
    border-top: 10px solid $dark-green;
    width: 100%;
    height: 10vh;
    background: $light-green;
  }
}



