//vars 
$tablet-down: 768px;
$monitor-up: 1300px;

//mixins 

//fonts

@font-face {
    font-family: 'moonlight';
    src: url('fonts/moon_light-webfont.woff2') format('woff2'),
         url('fonts/moon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'moonbold';
    src: url('fonts/moon_bold-webfont.woff2') format('woff2'),
         url('fonts/moon_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//styles 
body {
	font-family: 'moonlight', sans-serif; 
	background: repeating-linear-gradient(
		  to right,
		  #a6c2e1,
		  #a6c2e1 10px,
		  #96b3dc 10px,
		  #96b3dc 20px
		);
	.half {
		width: 100%; 
		@media (min-width: $tablet-down+1) {
			width: 50%; 
			float: left; 
		}
		@media (min-width: $monitor-up+1) {
			width: 50%; 
			float: left; 
		}
	}

	h1 {
		display: block; 
		text-align: center; 
	}
	.tooth {
		width: 80%; 
		display: block; 
		margin: auto; 
	}
}