//vars 

//mixins 

//fonts

@font-face {
    font-family: 'moonlight';
    src: url('moon_light-webfont.woff2') format('woff2'),
         url('moon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'moonbold';
    src: url('moon_bold-webfont.woff2') format('woff2'),
         url('moon_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//styles 
body {
	font-family: 'moonlight', sans-serif;
	background: repeating-linear-gradient(
	  34deg,
	  #a6c2e1,
	  #a6c2e1 10px,
	  #96b3dc 10px,
	  #96b3dc 19px
	);
}